.intro {
  max-width: 690px;
  margin: 0 auto;
  margin-left: 148px;
}

@media screen and (max-width: 1024px) {
  .intro {
    margin-left: 48px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    margin: 0 auto;
    width: calc(100% - 32px);
  }
}